html{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body{
    font-size: 16px;
    background-color: antiquewhite;
    font-family: 'DM Sans', sans-serif;
}


h1 {
    text-align: center;
    font-size: 3.8rem;
    font-family: 'DM Sans', sans-serif;
}

h1 span{
    font-size: 2rem;
    color: rgb(56, 54, 54);
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.contenedor h3, h2{
    display: flex;
    justify-content: center;

}

.boton{
    background-color: teal;
    color: white;
    text-decoration: none;
    padding: 1rem 3rem ;
    margin-top: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 6px;
    width: 90%;
    text-align: center;
    border: none;
}

@media (min-width: 768px) {
    .boton{
        width: auto;
    }
    
}

.boton:hover{
    cursor: pointer;
}


.nav-bg{
    background-color: rgb(41, 105, 81);
}

.navegacion-principal{
display: flex;
flex-direction: column;
}

@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-around;
    }
}

.navegacion-principal a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;

}

.navegacion-principal a:hover{
    background: rgb(16, 175, 95);
    color: black;
}

.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    background-color: rgba(10, 10, 10, 0.548);
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.ubicacion{
    display: flex;
    align-items: flex-end;
}

.contenido-hero h2,
.contenido-hero p {
    color: white;
}

.sombra {
    -webkit-box-shadow: -2px 9px 34px -8px rgba(105,105,105,1);
    -moz-box-shadow: -2px 9px 34px -8px rgba(105,105,105,1);
    box-shadow: -2px 9px 34px -8px rgba(105,105,105,1);

    background-color: white;
    padding: 2rem;
    border-radius: 6px;
    margin-bottom: 7rem;
}

.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

@media (min-width: 768px) {
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        
    }

}

.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.servicio h3{
    color: teal;
    font-style: normal;

}

.servicio p{
    text-align: left;
}

.iconos{
    height: 15rem;
    width: 15rem;
    background-color: yellowgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background: rgb(103, 74, 117);
    color: white;
    width: min( 60rem, 100% );
    margin: 0 auto;
    padding: 2rem;
    border-radius: 6px;

}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.contenedor-campos{

}

.campo{
    margin-bottom: 1rem;

}

.campo label{
    color: white;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;

}

@media (min-width: 768px) {
    .contenedor-campos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campos:nth-child(3),
    .campos:nth-child(4){
        grid-column: 1 / 3;
    }
}



.campos textarea{
    height: 20rem;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 4px;
}

.enviar .boton{
    width: 100%;
    margin-top: 3rem;
}

.footer{
    text-align: center;
    background: black;
    color: white;
    padding: .4rem;
}